html,
body {
  margin: 0;
  padding: 0;
  height: 100%
}

.hero {
  padding-top: 25px;
  background-image: url("img/hero.jpg");
  background-size: cover;
  height: auto;
}

.nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

header.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
}

.navbar-brand > img {
  display: block;
  margin: 0 0 5px 0;
}

#navbarNav {
  color: white;
  border-color: white;
}


.ig-logo {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 45px;
}

ul.shop {
  display: inline-grid;
  float: left;
  font-weight: bold;
}

ul.warranty {
  display: inline-grid;
  float: left;
  font-weight: lighter;
}

#footer-stroll {
  float: right;
  margin-top: 15px;
  margin-right: 0px;
}


li.btn {
  color: white;
}

li.shop{
  font-weight: bold;
}

li.warranty{
  font-weight: lighter;
  text-align: center;
}

li.service {
  font-size: 10px;
}

ul.terms {
  display: inline;
}

p.features-list {
  line-height: 150%;
  font-size: 1.5em;
}

.section--features {
  background-image: url("img/features-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-origin: border-box;
  min-height: 65em;

}

.rock-n-stroll-logo {
  align-items: flex-end;
  float: right;
}

.navbar-peppers {
  color: white;
  float: right;
}

.clearfix {
  content: "";
  clear: right;

}
h2 {
  margin-top: 5px;
}

a.learnmore {
  color:red;
}
